<h3>Cadre et statut des cours</h3>

<p><strong>Cadre du cours (officiel)</strong></p>
<p>Code officiel du cours issu du logiciel ProEco. Ces codes sont définis par le Ministère et permettent de classer les cours en différentes catégories.</p>

<p><strong>Ordre</strong></p>
<p>Ordre d'apparition de ce type de cours dans les différents documents (bulletin, feuille de délibé) indépendamment du nombre d'heures du cours qui est généralement prépondérant.</p>

<p><strong>Statut du cours (dans l'application)</strong></p>
<p>Par rapport aux cadres, les statuts de cours dans l'application sont plus limités mais plus ciblés. Le programmeur de l'application pourra utiliser les statuts dans le code.</p>

<p><strong>Pas d'échec</strong></p>
<p>Les notes de certains cours, même inférieures à 50%, ne doivent pas être considérées comme des échecs dans les règles du Conseil de Classe. Cocher la case si le type de cours ne donne pas lieu à un échec à comptabiliser</p>

<p><strong>Pas de totalisation</strong></p>
<p>Les notes de certains cours peuvent être exclues de la totalisation dans les règles du Conseil de Classe. Cocher la case si le type de cours ne donne pas lieu à la totalisation.</p>
