.geant {
    background-color: #fff;
    border: 2px solid #f44;
    box-shadow: 5px 5px 5px 2px #ccc;
    color: #f44;
    font-size: 2em;
    font-weight: bold;
    margin: 0.2em 0.2em 0.5em;
    padding: 0.2em 0.2em 0.5em;
    text-align: center;
}

.urgence0 {
    background-color: #9f9;
}

.urgence1 {
    background-color: #99f;
}

.urgence2 {
    background-color: #f99;
}

.spanDisabled {
    color: #999;
}

.champ {
    border: 1px solid black;
    padding: 0.5em 1em;
    box-shadow: 5px 5px 5px 2px #ccc;
    border-radius: 10px;
}

.table-bulletin>tbody>tr>td {
    padding: 2px;
}

#calendar .fc-content {
    cursor: pointer;
}

p.event-special, a.event-special {
    background: #ff0000 none repeat scroll 0px 0px;
}

p.event-success, a.event-success {
    background: #008000 none repeat scroll 0px 0px;
    color: white;
}

p.event-warning, a.event-warning {
    background: #ffa500 none repeat scroll 0px 0px;
}

p.event-info, a.event-info {
    background: #ffff00 none repeat scroll 0px 0px;
    color: red;
}

p.event-inverse, a.event-inverse {
    background: #286090 !important;
    color: #fff !important;
}

.fc-prev-button, .fc-next-button, .fc-today-button {
    background: orange !important;
    color: #fff !important;
}

#calendar {
    cursor: pointer;
}

#duree:disabled, #timepicker:disabled {
    background-color: #aaa;
    color: #ccc;
}

.titreTravail {
    padding: 0.5em 1em;
    border: 2px solid black;
}

.cat_1 {
    background: #f55 !important;
    color: #fff !important;
}

.cat_2 {
    background: #0f0 !important;
    color: #333 !important;
}

.cat_3 {
    background: #00f !important;
    color: #fff !important;
}

.cat_4 {
    background: #ff0 !important;
    color: #000 !important;
}

.cat_5 {
    background: #f00 !important;
    color: #ff0 !important;
}

.cat_6 {
    background: #555 !important;
    color: #ccc !important;
}

.cat_7 {
    background: #fff !important;
    color: #000 !important;
}

.discret {
    padding: 0;
    font-size: 9pt;
}

.accuseRecu {
    background-color: #9f9;
}

.accuseNonRecu {
    background-color: #f99
}

.freeze {
    background-color: #f55;
}

.indisponible {
    background-color: #aaa !important;
    color: #333;
}

.wait * {
    cursor: wait;
}

label.error {
    background: #ff0000;
    color: #ffffff;
}

.btnLimite {
    text-overflow: ellipsis;
    width: 10em;
    overflow: hidden
}

.popover .close {
    color: #fff;
    opacity: 1;
    line-height: 10px
}

form input:disabled {
    color: #999;
}

.statutSpecial {
    background-color: rgb(255, 246, 170)
}

.attente1 {
    background-color: rgb(242, 193, 239)
}

.attente2 {
    background-color: rgb(195, 230, 179)
}

.attente3 {
    background-color: rgb(174, 218, 224)
}

.btn-eleve, .btn-prof {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.switchOn {
    color: #0a0;
}

.switchOff {
    color: #c33;
}

.selected {
    background-color: #F9C331;
}

.grise {
    color: #aaa;
}

.showAccuse, .addPJ {
    cursor: pointer;
}

.memoSharedFile {
    cursor: pointer;
    font-size: 16px;
}

.memoSharedFile:hover {
    background: #ddd;
}


#listeFichiers tr.active, #listePartages p.active {
    background: #99f !important;
    color: #000 !important;
}
#listeFichiers tr.active td {
    background: #99f !important;
}
#listeFichiers.active a {
    color: #ff0;
}

.btn-crumb.active {
    border: 1px solid red !important;
}

.shareList li {
    background-color: #ddd;
}

.input-group-addon.primary {
    background: #fbdf93;
    background: -moz-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbdf93), color-stop(49%, #f8b500), color-stop(50%, #fccd4d), color-stop(100%, #fceabb));
    background: -webkit-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    background: -o-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    background: -ms-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fbdf93', endColorstr='#fceabb', GradientType=0);
    background: linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    color: black;
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}

.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}

.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}

.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.nonRemis {
    background-color: #fcc;
}

.remis {
    background-color: #cfc;
}

fieldset.info {
    background: #dfd;
    padding: 0 1em;
    border: 1px solid #999;
}

fieldset.info legend {
    background: #faa;
    padding: 0 1em;
    margin-left: -1em;
}

.box {
    border: 2px solid #555555;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #fff;
    margin: 0 0 15px;
    padding: 5px;
}

.box h3 {
    margin: 0;
}

.nomFichier {
    padding: 0 0 0 22px;
    background-image: url(images/disk.png);
    background-position: left center;
    background-repeat: no-repeat;
}

#unTravail .panel {
    background-image: url('images/carre.png');
}

.checked {
    background-color: #9f9;
}

.btn-xl {
    padding: 10% 0;
    heigth: 5em;
}

tr.dir {
    background-color: #eee;
}

#listeFichiers table {
    cursor:pointer;
}

#listeTravaux button.active {
    background-color: #F9E0AE;
}

.avertissement {
    padding-top: 1.5em;
    text-align: center;
    font-size: 64px;
    font-weight: bold;
    color: #bbb;
}

a.btnTabAdd {
    padding: 0.7em 0.3em !important;
}

h2.subjectif {
    background: red !important;
    color: white !important;
}

.cours {
    background-color: #fcc !important;
}

.niveau {
    background-color: #cff;
}

.classes {
    background-color: #cfc !important;
}

.ecole {
    background-color: #ffc;
}

tr.nonLu td{
    font-weight: bold;
    color: #55e;
}

.erreurInput {
    background-color: red !important;
    color: #fff;
}
