.imagePopup {
    background-color: white;
    font-weight: bold;
    box-shadow: 1px 1px 12px #555;
}

.photoEleve {
    box-shadow: 1px 1px 12px #555;
}

.microForm {
    margin: 0;
    padding: 0;
}

#notice {
    display: block;
    min-height: 100px;
    float: left;
    padding: 10px 10px 0 80px;
    border: 1px solid red;
    margin: 1em;
    box-shadow: 1px 1px 12px #555;
    font-weight: bold;
    background-color: #ee8;
    background-image: url('../images/info.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

.noticeDroite {
    background-color: #ee8;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 10px;
    border: 1px solid red;
    margin: 1em;
    box-shadow: 1px 1px 12px #555;
}

.rowalt {
    background-color: #eee;
}

.delibe {
    background-color: #F7D6E9;
}

.legendePhoto {
    background-color: #aaa;
    color: white;
    padding: 5px 2px 5px 2px;
    display: block;
}

.conclusionDelibe {
    background-color: #eee
}

.decisionDelibe {
    background-color: #FCD97D;
}

.remarqueDelibe {
    font-size: 0.8em;
}

.blocGaucheBulletin {
    text-align: center;
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 1px 1px 12px #555;
}

.blocDroitBulletin {
    float: right;
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
}

.blocRemarque {
    float: left;
    width: 55%
}

.blocAttitudes {
    float: right;
    width: 45%;
}

table.attitudes, table.attitudes td {
    border: 1px solid #aaa;
}

.tableauBull {
    width: 100%;
    font-size: 10pt;
}

.tableauBull td {
    border: 1px solid #dddddd;
    font-size: 0.9em;
}

.tableauBull th {
    border: 1px outset black;
    padding: 0;
    background-color: #dddddd;
    font-weight: normal;
    font-size: 0.9em;
}

.tableauBull .bilan {
    background-color: #ccccee;
}

.tableauBull .bilan .echecs {
    color: red;
}

.tableauBull .bilan .echecs {
    text-align: left;
}

input[readonly], textarea[readonly], checkbox[readonly] {
    background-color: #888;
    color: #eee;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] {
    background-color: #888;
    color: #eee;
}

.tableauBull input {
    text-align: right;
    padding-right: 3px;
}

input.nacquis[readonly], input.acquis[readonly] {
    cursor: pointer;
    color: black;
    border: 0;
    background-color: #eee;
}

.NA {
    background-color: #EE5555;
}

select[disabled] {
    color: #ccc
}

.compteur {
    clear: both;
    float: right;
    color: grey;
}

.erreurEncodage {
    background-color: red;
    color:white;
}

.echecEncodage {
    background-color: #e55;
    color: white;
}

.echecEncodage input {
    color: #e55;
}

.situations, .commentaires {
    background-color: #eee;
}

.totaux {
    text-align: center;
}

.cote1erDegre {
    background-color: yellow;
    clear: both;
    border: 1px dotted red;
}

.patienter {
    background-color: orange;
}

.situationActuelle {
    background-color: #FCDB82;
}

.ponderation {
    color: blue;
    font-size: 0.8em;
    font-weight: bold;
}

.star {
    background-color: yellow;
    color: red;
}

.star:after {
    content: ' *'
}

.lblFraction {
    float: left;
}

.fraction {
    float: left;
    padding: 0 0.5em;
}

.den {
    font-weight: bold;
    text-align: center;
    width: 3em;
}

.num {
    border-bottom: 1px solid;
    font-weight: bold;
    text-align: center;
    width: 3em;
}

.sit {
    color: #000;
    background-color: #ee0;
}

.synthese {
	border: 1px solid black;
	font-weight: bold;
	background-color: #a6e2ff;
	color: #777;
	text-align: center;
}

.synthese p {
    padding: 0 1em;
}

td.TJ, td.EX, th {
    cursor: pointer;
}

#commentaireProf {
    background-color: #E9ED80;
    border: 1px solid black;
}

#commentaireProf h4 {
    margin: 0
}

.mention {
    font-size: 1.3em;
}

.I, .F {
    color: red;
}

#tableauCompetences td {
    font-weight: normal;
    padding-left: 2em;
}

#tableauCompetences h4 {
    margin: 0;
}

#tableauCompetences td.nomCours {
    border-bottom: 1px solid black
}

#tableauCompetences {
    font-size: 8pt;
}

.hide {
    color: #aaa
}

.rapportCote {
    float: right;
    padding-right: 1em;
}

.attitudes {
    font-weight: bold;
    text-align: center;
}

.tableauRemarque {
    width: 100%;
}

.tableauRemarque th {
    background-color: #eee;
    font-size: 0.8em;
    font-weight: normal;
}

.tableauRemarque td {
    font-size: 0.8em;
    border: 1px solid #eee;
}

.aVoir {
    display: none;
}

.montrer {
    cursor: pointer;
}

.fauxBouton {
    cursor: pointer;
}

.collapsible {
    cursor: pointer;
    text-decoration: underline;
}

.inputSituations {
    font-size: 7pt;
}

.inputSituations .sit {
    text-align: left;
}

.inputSituations .max {
    text-align: right;
    float: right;
}

.inputMention {
    text-align: center
}

.mentionI {
    background-color: #FEA2A0;
}

.mentionF {
    background-color: #F7D29D;
    color: black;
}

.mentionS {
    background-color: #EBF79D;
}

.mentionAB {
    background-color: #9DF7A1;
}

.mentionB {
    background-color: #9EF8DB;
    color: black;
}

.mentionBplus {
    background-color: #26F8B6;
    color: black
}

.mentionTB {
    background-color: #7290E2;
    color: white
}

.mentionTBplus {
    background-color: #2558E2;
    color: white
}

.mentionE {
    background-color: #D2AAE6;
}


/* #menuBas.floatable {
	position: fixed;
}
*/

.eleveActif {
    background-color: #FEEDA9;
}

.eleveSelectionne {
    background-color: #feed66
}

.highlight {
    background-color: #F3F7C6;
}

.carnetCotes {
    font-size: 0.8em;
}

th.echec, td.echec, .echec {
    border: 2px solid #f00 !important;
}

th.cert, td.cert, .cert {
    border: 2px solid black !important;
    background-color: #faa;
}

.couleur0 {
    background-color: #FFE6E6;
}

.couleur1 {
    background-color: #FBFFE6;
}

.couleur2 {
    background-color: #E6FFEC;
}

.couleur3 {
    background-color: #E6F7FF;
}

.couleur4 {
    background-color: #F2E6FF;
}

.couleur5 {
    background-color: #FFE6FD;
}

.couleur6 {
    background-color: #E6E8FF;
}

.couleur7 {
    background-color: #E6FFF9;
}

.couleur8 {
    background-color: #ECFFE6;
}

.couleur9 {
    background-color: #FFF4E6;
}

.draggable {
    cursor: pointer
}

.editCote, .editTitle {
    background-color: #F8C653;
    padding: 5px;
    font-weight: bold;
}

#editCote, #delCote {
    box-shadow: 10px 10px 5px #888;
}

#formDel span {
    font-weight: bold;
}

.formFooter {
    padding: 3px 0;
    margin: 15px 0 0 0;
    background-color: #F7DF9D;
    color: grey;
    border-top: 1px solid grey;
}

.tableauTitu {
    border-collapse: collapse
}

.tableauTitu th {
    background-color: #ddd;
}

.tableauTitu td {
    border: 1px solid black;
}

#cke_texte {
    margin: 1em 0;
}

.danger span {
    color: white;
    background-color: #f00;
}

.gauche {
    float: left;
    width: 47%;
    padding: 0 2em;
}

#listeElevesAdd, #listeElevesDel {
    background-color: #aaa
}

.disabled {
    color: grey;
    font-weight: normal;
}

.enabled {
    color: black;
    font-weight: bolder;
}

.pasCours {
    background-color: #ddd;
    text-align: center;
}

.symbolique {
    padding: 0 0 1em 0;
    font-size: 8pt
}

.symbolique li {
    display: block;
    float: left;
    padding: 3px;
    border: 1px solid black;
    margin: 0 0 0 3px
}

#pia h1 {
    font-size: 300%;
}

#pia p {
    font-size: 12pt;
}

#pia #entetePIA {
    padding: 5em 0;
}

#pia .coursProf {
    padding: 2em 0 0 0;
}

#pia #blocNoms {
    border: 1px solid black;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 150%;
    width: 50%;
    float: right;
}

#pia #nomPrenom {
    text-align: right;
    heigth: 200px;
}

#photo {
    width: 100px;
    z-index: 9999;
    top: 50px;
    right: 50px;
    position: fixed;
}

#photo.floatable {
    position: fixed;
    width: 100px;
    right: 50px;
    top: 10px; // non-obligatoire
    z-index: 1999;
}

.pageBreak {
    page-break-before: always;
}

.clickNE:hover, .clickA:hover, .clickNA:hover {
    cursor: pointer;
}

.medaillon {
    text-align: center;
    border: 2px solid red;
    border-radius: 25px;
}

.report, .reportAttitude {
    font-weight: bold;
    color: #FF4800
}

.enteteCote {
    background: rgb(253, 241, 209);
    background: -moz-linear-gradient(top, rgba(253, 241, 209, 1) 0%, rgba(253, 222, 135, 1) 50%, rgba(255, 208, 77, 1) 51%, rgba(252, 234, 182, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(253, 241, 209, 1)), color-stop(50%, rgba(253, 222, 135, 1)), color-stop(51%, rgba(255, 208, 77, 1)), color-stop(100%, rgba(252, 234, 182, 1)));
    background: -webkit-linear-gradient(top, rgba(253, 241, 209, 1) 0%, rgba(253, 222, 135, 1) 50%, rgba(255, 208, 77, 1) 51%, rgba(252, 234, 182, 1) 100%);
    background: -o-linear-gradient(top, rgba(253, 241, 209, 1) 0%, rgba(253, 222, 135, 1) 50%, rgba(255, 208, 77, 1) 51%, rgba(252, 234, 182, 1) 100%);
    background: -ms-linear-gradient(top, rgba(253, 241, 209, 1) 0%, rgba(253, 222, 135, 1) 50%, rgba(255, 208, 77, 1) 51%, rgba(252, 234, 182, 1) 100%);
    background: linear-gradient(to bottom, rgba(253, 241, 209, 1) 0%, rgba(253, 222, 135, 1) 50%, rgba(255, 208, 77, 1) 51%, rgba(252, 234, 182, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fdf1d1', endColorstr='#fceab6', GradientType=0);
    border: 1px solid grey;
    text-align: center;
    font-weight: normal
}

.enteteCarnet {
    border: 1px solid grey;
}

#carnet th {
    font-weight: normal !important;
    text-align: center;
}

#carnet td, #carnet th {
    border: 1px solid grey;
}

#carnet .detailsCote {
    background-color: #ffd
}

.balayette {
    color: #080;
    cursor: pointer;
}

.form-control.sitDelibe[disabled], .form-control.sitDelibe[readonly] {
    background-color: #eee;
    color: #000;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.editable {
    background: #fff;
    width: 6em;
    height: 2.7em;
    padding: 0.5em;
}

.cote .fa {
    font-size: 0.8em;
    color: #f3f;
}

.tdLock {
    cursor: pointer;
}

.selected {
    background-color: #F9C331;
}

.unProf, .unInterim, .unCours {
    cursor: pointer;
}

.wait * {
    cursor: wait;
}

.interne {
     background-color: rgba(47, 159, 193, 0.5);
  text-align:center;

}

td.interne {
  border-left: 2px solid blue;
  border-bottom: 2px solid blue;
}

.externe {
     background-color: rgba(85, 202, 138, 0.5);
  text-align:center;
}

td.externe {
  border-right: 2px solid green;
  border-bottom: 2px solid green;
}

.coteCarnet {
width: 100%;
// padding: 10px;
margin: 0px;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

.lockCotes {
    color: #8f66ff !important;
}

.lockCotesComs {
    color: #f00 !important;
}

.unlocked {
    color: #bbb !important;
}

#formCotes td, #formTransfert td {
    padding: 0;
    border: 1px solid;
}

#formCotes input, #formTransfert input.coteBulletin {
    width: 100%;
    height: 2.2em;
    background: #afa;
    text-align: center;
}

#formCotes td span {
    height: 2.2em;
    padding-top: 0.2em;
    display: block;
}

i.EBSi {
  color: #f00;
}

figure.EBS {
  position: relative;
  display: inline-block;
}

figcaption.EBS a {
  position: absolute;
  top: -15px;
  right: -10px;
  font-size: 1.5em;
  color: #f00;
}

input[readonly], textarea[readonly] {
    background-color: #ccc !important;
    color: #337 !important;;
}

#delibeIndividuel td.cote {
    background-color: #aaf;
    border: 1px solid #555;
    font-weight:bold;
}
