.hide {
    display: none;
}

a.activeDir {
    background-color: #FCE096 !important;
    display: block;
}

.activeFile {
    background-color: #acc !important;
}

#selected_file {
    width: 500px;
    margin: 2px auto;
    font-size: 15px;
    font-family: sans-serif;
}

ul.filetree {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    line-height: 33px;
    padding: 0px;
    margin: 0px;
}

ul.filetree li {
    list-style: none;
    padding: 0px 0px 0px 20px;
    margin: 0px 0px 0px 10px;
}

ul.filetree a {
    color: #333;
    text-decoration: underline;
    margin-left: 15px;
    font-weight: normal;
}

ul.filetree a:hover {
    background: #FFF0DB;
}

.filetree ul {
    border-left: 1px solid #999;
    padding-left: 10px;
}

.filetree li ul li:before {
    margin-left: -40px;
    content: "\2014";
    position: absolute;
}

.filetree li ul li {
    position: relative;
}

ul.filetree a.dirLink {
    display: block;
}

.infoFile, .file, .share, .unShare, .delDir {
    cursor: pointer;
}
/*
.prof {
    background: #ddd;
}

.cours {
    background: #99f;
}

.classe {
    background: #7f7
}

.niveau {
    background: pink;
}

.ecole {
    background: yellow;
}*/

.filetree li.folder {
    background: url(images/folder.png) no-repeat left top;
}

.filetree li.expanded {
    background: url(images/folder_open.png) no-repeat left top;
}

.filetree li.file {
    background: url(images/file.png) no-repeat left top;
}

.filetree li.wait {
    background: url(images/spinner.gif) no-repeat left top;
}


/*extensions and mime types*/

.filetree li.ext_3gp {
    background: url(images/film.png) no-repeat left top;
}

.filetree li.ext_afp {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_afpa {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_asp {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_aspx {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_avi {
    background: url(images/film.png) no-repeat left top;
}

.filetree li.ext_bat {
    background: url(images/application.png) no-repeat left top;
}

.filetree li.ext_bmp {
    background: url(images/picture.png) no-repeat left top;
}

.filetree li.ext_c {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_cfm {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_cgi {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_com {
    background: url(images/application.png) no-repeat left top;
}

.filetree li.ext_cpp {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_css {
    background: url(images/css.png) no-repeat left top;
}

.filetree li.ext_doc {
    background: url(images/doc.png) no-repeat left top;
}

.filetree li.ext_exe {
    background: url(images/application.png) no-repeat left top;
}

.filetree li.ext_gif {
    background: url(images/picture.png) no-repeat left top;
}

.filetree li.ext_fla {
    background: url(images/flash.png) no-repeat left top;
}

.filetree li.ext_h {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_htm {
    background: url(images/html.png) no-repeat left top;
}

.filetree li.ext_html {
    background: url(images/html.png) no-repeat left top;
}

.filetree li.ext_jar {
    background: url(images/java.png) no-repeat left top;
}

.filetree li.ext_jpg, .filetree li.ext_JPG {
    background: url(images/picture.png) no-repeat left top;
}

.filetree li.ext_svg, .filetree li.ext_SVG {
    background: url(images/svg.png) no-repeat left top;
}

.filetree li.ext_jpeg {
    background: url(images/picture.png) no-repeat left top;
}

.filetree li.ext_js {
    background: url(images/script.png) no-repeat left top;
}

.filetree li.ext_lasso {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_log {
    background: url(images/txt.png) no-repeat left top;
}

.filetree li.ext_m4p {
    background: url(images/music.png) no-repeat left top;
}

.filetree li.ext_mov {
    background: url(images/film.png) no-repeat left top;
}

.filetree li.ext_mp3 {
    background: url(images/music.png) no-repeat left top;
}

.filetree li.ext_mp4 {
    background: url(images/film.png) no-repeat left top;
}

.filetree li.ext_mpg {
    background: url(images/film.png) no-repeat left top;
}

.filetree li.ext_mpeg {
    background: url(images/film.png) no-repeat left top;
}

.filetree li.ext_ogg {
    background: url(images/music.png) no-repeat left top;
}

.filetree li.ext_pcx {
    background: url(images/picture.png) no-repeat left top;
}

.filetree li.ext_pdf, td.ext_pdf {
    background: url(images/pdf.png) no-repeat left top;
}

.filetree li.ext_php {
    background: url(images/php.png) no-repeat left top;
}

.filetree li.ext_png {
    background: url(images/picture.png) no-repeat left top;
}

.filetree li.ext_ppt {
    background: url(images/ppt.png) no-repeat left top;
}

.filetree li.ext_psd {
    background: url(images/psd.png) no-repeat left top;
}

.filetree li.ext_pl {
    background: url(images/script.png) no-repeat left top;
}

.filetree li.ext_py {
    background: url(images/script.png) no-repeat left top;
}

.filetree li.ext_rb {
    background: url(images/ruby.png) no-repeat left top;
}

.filetree li.ext_rbx {
    background: url(images/ruby.png) no-repeat left top;
}

.filetree li.ext_rhtml {
    background: url(images/ruby.png) no-repeat left top;
}

.filetree li.ext_rpm {
    background: url(images/linux.png) no-repeat left top;
}

.filetree li.ext_ruby {
    background: url(images/ruby.png) no-repeat left top;
}

.filetree li.ext_sql {
    background: url(images/db.png) no-repeat left top;
}

.filetree li.ext_swf {
    background: url(images/flash.png) no-repeat left top;
}

.filetree li.ext_tif {
    background: url(images/picture.png) no-repeat left top;
}

.filetree li.ext_tiff {
    background: url(images/picture.png) no-repeat left top;
}

.filetree li.ext_txt {
    background: url(images/txt.png) no-repeat left top;
}

.filetree li.ext_vb {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_wav {
    background: url(images/music.png) no-repeat left top;
}

.filetree li.ext_wmv {
    background: url(images/film.png) no-repeat left top;
}

.filetree li.ext_xls {
    background: url(images/xls.png) no-repeat left top;
}

.filetree li.ext_xml {
    background: url(images/code.png) no-repeat left top;
}

.filetree li.ext_zip {
    background: url(images/zip.png) no-repeat left top;
}

.filetree li.ext_odt {
    background: url(images/odt.png) no-repeat left top;
}

.filetree li.ext_ods {
    background: url(images/ods.png) no-repeat left top;
}

.filetree li.ext_odg {
    background: url(images/odg.png) no-repeat left top;
}

.filetree li.ext_odp {
    background: url(images/odp.png) no-repeat left top;
}



td.ext_3gp {
    background: url(images/film.png) no-repeat left top;
    background-size: 24px;
}

td.ext_afp {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_afpa {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_asp {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_aspx {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_avi {
    background: url(images/film.png) no-repeat left top;
    background-size: 24px;
}

td.ext_bat {
    background: url(images/application.png) no-repeat left top;
    background-size: 24px;
}

td.ext_bmp {
    background: url(images/picture.png) no-repeat left top;
    background-size: 24px;
}

td.ext_c {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_cfm {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_cgi {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_com {
    background: url(images/application.png) no-repeat left top;
    background-size: 24px;
}

td.ext_cpp {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_css {
    background: url(images/css.png) no-repeat left top;
    background-size: 24px;
}

td.ext_doc {
    background: url(images/doc.png) no-repeat left top;
    background-size: 24px;
}
td.ext_docx {
    background: url(images/doc.png) no-repeat left top;
    background-size: 24px;
}

td.ext_exe {
    background: url(images/application.png) no-repeat left top;
    background-size: 24px;
}

td.ext_gif {
    background: url(images/picture.png) no-repeat left top;
    background-size: 24px;
}

td.ext_fla {
    background: url(images/flash.png) no-repeat left top;
    background-size: 24px;
}

td.ext_h {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_htm {
    background: url(images/html.png) no-repeat left top;
    background-size: 24px;
}

td.ext_html {
    background: url(images/html.png) no-repeat left top;
    background-size: 24px;
}

td.ext_jar {
    background: url(images/java.png) no-repeat left top;
    background-size: 24px;
}

td.ext_jpg, td.ext_JPG {
    background: url(images/picture.png) no-repeat left top;
    background-size: 24px;
}

td.ext_jpeg {
    background: url(images/picture.png) no-repeat left top;
    background-size: 24px;
}

td.ext_js {
    background: url(images/script.png) no-repeat left top;
    background-size: 24px;
}

td.ext_lasso {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_log {
    background: url(images/txt.png) no-repeat left top;
    background-size: 24px;
}

td.ext_m4p {
    background: url(images/music.png) no-repeat left top;
    background-size: 24px;
}

td.ext_mov {
    background: url(images/film.png) no-repeat left top;
    background-size: 24px;
}

td.ext_mp3 {
    background: url(images/music.png) no-repeat left top;
    background-size: 24px;
}

td.ext_mp4 {
    background: url(images/film.png) no-repeat left top;
    background-size: 24px;
}

td.ext_mpg {
    background: url(images/film.png) no-repeat left top;
    background-size: 24px;
}

td.ext_mpeg {
    background: url(images/film.png) no-repeat left top;
    background-size: 24px;
}

td.ext_ogg {
    background: url(images/music.png) no-repeat left top;
    background-size: 24px;
}

td.ext_pcx {
    background: url(images/picture.png) no-repeat left top;
    background-size: 24px;
}

td.ext_pdf, td.ext_pdf {
    background: url(images/pdf.png) no-repeat left top;
    background-size: 24px;
}

td.ext_php {
    background: url(images/php.png) no-repeat left top;
    background-size: 24px;
}

td.ext_png {
    background: url(images/picture.png) no-repeat left top;
    background-size: 24px;
}

td.ext_ppt {
    background: url(images/ppt.png) no-repeat left top;
    background-size: 24px;
}
td.ext_pptx {
    background: url(images/ppt.png) no-repeat left top;
    background-size: 24px;
}

td.ext_psd {
    background: url(images/psd.png) no-repeat left top;
    background-size: 24px;
}

td.ext_pl {
    background: url(images/script.png) no-repeat left top;
    background-size: 24px;
}

td.ext_py {
    background: url(images/script.png) no-repeat left top;
    background-size: 24px;
}

td.ext_rb {
    background: url(images/ruby.png) no-repeat left top;
    background-size: 24px;
}

td.ext_rbx {
    background: url(images/ruby.png) no-repeat left top;
    background-size: 24px;
}

td.ext_rhtml {
    background: url(images/ruby.png) no-repeat left top;
    background-size: 24px;
}

td.ext_rpm {
    background: url(images/linux.png) no-repeat left top;
    background-size: 24px;
}

td.ext_ruby {
    background: url(images/ruby.png) no-repeat left top;
    background-size: 24px;
}

td.ext_sql {
    background: url(images/db.png) no-repeat left top;
    background-size: 24px;
}

td.ext_swf {
    background: url(images/flash.png) no-repeat left top;
    background-size: 24px;
}

td.ext_tif {
    background: url(images/picture.png) no-repeat left top;
    background-size: 24px;
}

td.ext_tiff {
    background: url(images/picture.png) no-repeat left top;
    background-size: 24px;
}

td.ext_txt {
    background: url(images/txt.png) no-repeat left top;
    background-size: 24px;
}

td.ext_vb {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_wav {
    background: url(images/music.png) no-repeat left top;
    background-size: 24px;
}

td.ext_wmv {
    background: url(images/film.png) no-repeat left top;
    background-size: 24px;
}

td.ext_xls {
    background: url(images/xls.png) no-repeat left top;
    background-size: 24px;
}
td.ext_xlsx {
    background: url(images/xls.png) no-repeat left top;
    background-size: 24px;
}

td.ext_xml {
    background: url(images/code.png) no-repeat left top;
    background-size: 24px;
}

td.ext_zip {
    background: url(images/zip.png) no-repeat left top;
    background-size: 24px;
}

td.ext_odt {
    background: url(images/odt.png) no-repeat left top;
    background-size: 24px;
}

td.ext_ods {
    background: url(images/ods.png) no-repeat left top;
    background-size: 24px;
}

td.ext_odg {
    background: url(images/odg.png) no-repeat left top;
    background-size: 24px;
}

td.ext_odp {
    background: url(images/odp.png) no-repeat left top;
    background-size: 24px;
}

.PjFiles, #activeDir {
    background-color: #fce6aa;
}

.PjFiles  li {
    display: inline-block;
    padding: 0 0.5em;
    border: 1px solid #555;
    border-radius: 3px;
    margin: 3px;
    background-color: #eee;
    padding-left: 0;
}

.PjFiles li a {
    font-size: 8pt;
    font-weight: normal;
    color: blue;
}

#repertoire .file:hover {
    background-color: #eee;
}
