<h4>Légende</h4>
<table>
	<tr>
	<td style="width:100px;padding-right:0.5em" class="indetermine" title="Prés. non prises">NP <span class="glyphicon glyphicon-minus indetermine pull-right"></span></td>
	<td style="width:100px;padding-right:0.5em" class="present" title="Présent">PRES <span class="glyphicon glyphicon-ok present pull-right"></span></td>
	<td style="width:100px;padding-right:0.5em" class="absent" title="Absent">ABS <span class="glyphicon glyphicon-question-sign absent pull-right"></span></td>
	<td style="width:100px;padding-right:0.5em" class="sortie" title="Sortie autorisée">SORT <span class="glyphicon glyphicon-time sortie pull-right"></span></td>
	<td style="width:100px;padding-right:0.5em" class="signale" title="Absence signalée">SIGN <span class="glyphicon glyphicon-edit signale pull-right"></span></td>
	<td style="width:100px;padding-right:0.5em" class="justifie" title="Absence justifiée">JUST <span class="glyphicon glyphicon-check justifie pull-right"></span></td>
	<td style="width:100px;padding-right:0.5em" class="suivi" title="Suivi PMS/CAS">SUIVI <span class="glyphicon glyphicon-eye-open suivi pull-right"></span></td>
	<td style="width:100px;padding-right:0.5em" class="ecarte" title="Écarté">ECART <span class="glyphicon glyphicon-hand-down ecarte pull-right"></span></td>
	<td style="width:100px;padding-right:0.5em" class="renvoi" title="Renvoyé">RENV <span class="glyphicon glyphicon-hand-right renvoi pull-right"></span></td>
	</tr>
</table>
