<h4>Légende</h4>
<table>
	<tr>
	<td style="width:140px;" class="micro indetermine">Présences non prises:</td><td class="indetermine"><img src="images/indetermine.png" alt="indeterminé"></td>
	<td style="width:140px" class="micro present">Présent: </td><td class="present"><img src="images/present.png" alt="présent"></td>
	<td style="width:140px" class="micro absent">Absent: </td><td class="absent"><img src="images/absent.png" alt="absent"></td>
	<td style="width:140px" class="micro sortie">Sortie autorisée: </td><td class="sortie"><img src="images/sortie.png" alt="sortie"></td>
	<td style="width:140px" class="micro signale">Absence signalée: </td><td class="signale"><img src="images/signale.png" alt="signalé"></td>
	<!-- <td style="width:140px" class="micro justifie">Absence justifiée: </td><td class="justifie"><img src="images/justifie.png" alt="justifié"></td> -->
	</tr>
</table>
