<style>

td, th {
	font-size: 7pt;
}

.mentionI {
	background-color: #FEA2A0;
}

.mentionF {
	background-color: #F7D29D;
	color: black;
}

.mentionS {
	background-color: #EBF79D;
}

.mentionAB {
	background-color: #9DF7A1;
}

.mentionB {
	background-color: #9EF8DB;
	color: black;
}

.mentionBplus {
	background-color: #26F8B6;
	color: black
}

.mentionTB {
	background-color: #7290E2;
	color: white
}

.mentionTBplus {
	background-color: #2558E2;
	color: white
}

.mentionE {
	background-color: #D2AAE6;
}

td.cote {
	border: 1px solid black;
	padding: 1mm;
	border-collapse: collapse;
}

.break {
	 page-break-before: always
}
h1 {
	font-size:14pt;
	padding-bottom: 3pt;
}
h2, h3 {
	font-size:12pt;
	padding-bottom: 0;
}

td, th {
	border: 1px solid black;
	padding: 1mm;
	border-collapse: collapse;
	font-size: 8pt;
}

th {
	background-color: #E3B553;
}

.important {
	color: red;
}
</style>
