.selectMail {
    overflow: auto;
    height: 45em;
}

h4.teteListe {
    background-color: #ffe37f;
    cursor: pointer;
    margin: 0 0 0.5em 0;
}

.titreListe {
    background-color: #FFE37F;
    width: 90%;
}

.listeMails {
    list-style-type: none;
    padding: 0;
}

.listeMails li {}

.label, .epingle {
    cursor: pointer;
}

#cadre {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid orange;
    padding: 2em;
    border-radius: 15px;
    margin-top: 1em;
    box-shadow: 10px 10px 5px #656565;
    min-height: 30em;
}

.blocMails {
    border: 1px solid #777;
    float: left;
    height: 15em;
    margin: 0 1em;
    overflow: auto;
    padding: 0.5em;
    width: 15em;
}

.blocMails h5 {
    margin-top: 0;
}

.unMail {
    cursor: pointer;
}

.enteteMail {
    background-color: #f8b708;
    color: #222;
    padding: 0.5em;
    width: 100%;
}

.enteteMail span {
    background-color: #555;
    padding: 0 0.5em;
    color: #fff;
}

#texteMail {
    height: 20em;
    overflow: auto;
    margin-top: 3em;
    padding: 0.8em;
    border: 1px solid black;
    background: #eee
}

.selected {
    background-color: #F9C331;
}

.permanent {
    background-color: #f55;
}

label.error {
    background: #ff0000;
    color: #ffffff;
}

.epingles, .envoi, .arch {
    cursor: pointer;
}

.tile.nonLu h4 {
    background-color: #00a5ff;
    color: #fff;
}

.badge.unread {
    background: red;
    color: white;
}

.hermesEntete {
    background-color: #00a5ff;
    border: 1px solid #ccc;
    color: #fff;
    padding-right: 0;
}

.hermesEntete input {
    background: #eee;
    height: 32px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.hermesEntete label {
    padding-top: 6px;
    padding-left: 0;
}

.hermesMessage {
    background-color: #eaeaeab3;
    border: 1px solid #999;
    min-height: 10em;
    overflow: auto;
    padding: 1em;
}

.listePJ {
    list-style: none;
    padding-left: 0;
}

.listePJ li {
    display: inline;
}

tr.proprio {
    background-color: #ecdb96 !important;
}
