.eleveActif {
    background-color: #FFE37F;
}

.up, .down {
    cursor: pointer;
    padding: 0 1em;
    font-weight: bold;
}

.up:hover, .down:hover {
    background-color: orange;
    color: white;
}

.abs {
    background-color: orange !important;
}

.abs0 {
    background-color: #FDF2C1;
}

input[type=submit], input[type=reset], input[type=button] {
    padding: 0.3em;
    font-size: 120%;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    background: #fbdf93;
    background: -moz-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fbdf93), color-stop(49%, #f8b500), color-stop(50%, #fccd4d), color-stop(100%, #fceabb));
    background: -webkit-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    background: -o-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    background: -ms-linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fbdf93', endColorstr='#fceabb', GradientType=0);
    background: linear-gradient(top, #fbdf93 0%, #f8b500 49%, #fccd4d 50%, #fceabb 100%);
}

.periode {
    display: inline-block;
    width: 0.9em;
    text-align: center;
    // font-weight: bolder;
    margin: 0;
    padding: 0;
}

.absent {
    background-color: #f77 !important;
    color: #fff;
    text-align: center;
}

.present {
    color: #000;
    background-color: #7f7 !important;
    text-align: center;
}

.indetermine {
    background: #ddd !important;
    color: #000;
    text-align: center;
}

.retard {
    background: #B947A3 !important;
    color: #fff;
    text-align: center;
}

.size150 {
    font-size: 150%;
}

.listeAbsences {
    list-style-type: none;
}

.listeAbsences li {
    float: left;
    border: 1px solid;
    width: 7em;
    text-align: center;
}

.mev {
    background-color: #ffc
}

.erreurEncodage {
    background-color: red;
    color: white;
}

.tableauPresences {
    width: 100%;
}

.tableauPresences td {
    cursor: pointer;
    border: 1px solid #dddddd;
}

.tableauPresences th {
    border: 1px outset #999;
    padding: 0;
    background-color: #dddddd;
    font-weight: normal;
    font-size: 0.9em;
}

td.now {
    border: 2px solid orange;
    font-size: 1.3em;
}

td.notNow {
    color: #aaa;
}

.text-red {
    color: #f00;
}

.text-green {
    color: #080;
}

.text-grey {
    color: #999;
}

.horloge {
    cursor: pointer;
    text-align: center;
    font-size: 1.3em !important;
}

.trash {
    cursor: pointer;
    text-align: center;
    font-size: 1.3em !important;
}

i.disabled, p.disabled, li.disabled, td.disabled, th.disabled {
    cursor: not-allowed;
    color: #999;
}

.clip {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.ordre {
    padding: 0;
    font-size: 7pt;
}

#presencesEleves {
    padding: 0;
}

.fc-event {
    color: black !important;
    background-color: #eee !important;
    border: 1px solid #aaa !important;
}

.fc-event, .fe-event:hover {
    background-color: rgba(0, 0, 255, 0.1) !important;
    color: gray !important;
}


#selectJustif {
    border:1px solid grey;
    padding-bottom: 0.5em;
}

#selectJustif span {
    margin: 0.2em;
    padding: 0.2em 0.5em 0.5em 0.2em;
}

#selectJustif label {
    margin: 0.5em;
}

.from, .to {
    color: #666;
    cursor: pointer !important;
}

.from.selected, .to.selected {
    color: red;
    font-weight: bold;
}

.datepicker.erreurDate {
    background-color: #f00;
    color: #fff;
}

.subMicro {
    font-size: 0.5em;
}

.speed {
    background-color: #9cff6f !important;
}
