.tableauBull {
	width: 100%;
	font-size:10pt;
}

.tableauBull td {
  border: 1px solid #dddddd;
  font-size: 0.9em;
}
.tableauBull th {
  border: 1px outset black;
  padding: 0;
  background-color: #dddddd;
  font-weight: normal;
  font-size: 0.9em;
}
.tableauBull .bilan {
  background-color: #ccccee;
}
.tableauBull .bilan .echecs {
  color: red;
}
.tableauBull .bilan .echecs {
  text-align: left;
}



.boutonFait li {
	display: block;
	float:left;
	width: 8em;
	height: 2.5em;
	list-style: none;
	text-align:center;
	font-size: 0.8em;
	border-radius: 5px 10px;
    margin: 0 3px;
}

.boutonFait {
	margin: 0;
	padding: 0;
	}


.cache {
    background-color: #CCCCCC;
    color: #008000;
	}

.rempli {
    color: #FF0000;
	}

.remplimontre {
    color: #FF0000;
	}

.libremontre {
    color: #008000;
	}

.tableauSynthese {
	width: 100%;
	}

.tableauSynthese td {
  border: 1px solid #dddddd;
}

.tableauSynthese th {
	border: 1px outset black;
	padding: 0;
	background-color: #dddddd;
	font-weight: normal;
	font-size: 0.9em;
	}
.tableauSynthese .bilan {
	background-color: #ccccee;
	}
.tableauSynthese .bilan .echecs strong {
	color: red;
	}
.tableauSynthese .bilan .echecs {
	text-align: left;
	}

.noScreen {
	display: none;
	}

.microForm {
	margin: 0;
	padding: 0;
	}


@media print {

.classeEntete {
	font-size: 800%;
	text-align:center;
	}

.eleveEntete {
	font-size: 200%;
	text-align:center;
	}

h2 {
	font-size: 200%;
	}

.pageBreak {
	page-break-before:always;
	}

.noScreen {
	display: block;
	}

.noScreen tr td {
	text-align: center;
	}
}

.flex, .flex > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:1 0 auto;
}

#lastRetards li {
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow:ellipsis;
	font-size: 10px;
}

.delRetard {
	color: #b33;
	font-size: small;
	cursor: pointer;
}

.editRetard {
	font-size: small;
	color: #393;
	cursor: pointer;
}
