.alignleft {
	float:left;
	margin:1em 1em 1em 0;
	}

.alignright {
	float:right;
	margin: 1em 0 1em 1em;
	}

#corps {
	width: 650px;
	float:left;
}

#corps img {
	box-shadow: 1px 1px 12px #555;
	}
	
#gauche {
	width: 230px;
	float:right;
	padding: 1em;
}
